:root{
    --white: #ffffff;
    --lightgray: #E5EAEE;
    --lightblue: #CFEBFF;
    --black: #000000;
    
}


*,
*::after,
*::before{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: "Exo 2", sans-serif;
}

.wrapper{
    margin: 0 auto;
    position: relative ;
}

header{
    background: var(--white);
    padding: 24px 0;
}




.cta-btn{
    padding: 16px 32px;
    border-radius: 524px;
    color: #fff;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    position:relative;

}

.cta-btn.dark{
    background: var(--black); 
    position: relative;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

}



.top-right-header li a {
    text-decoration: none;
    color: var(--black);
    font-family: "Exo 2", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.hero-section{
    display: flex;
    background:var(--lightgray);
}

.gray-background{
    background:var(--lightgray);
    width: calc(100% - 200px);
    height: calc(100vh - 200px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 40px;
    position: relative;
}



.hero-section .right img{
    max-width: 100%;
    height: auto;
}




.hero-section .left{
    flex: 1;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 170px 0 40px 77px; 
    z-index: 1;
    position: relative;
    background-image: url(images/firstpage/design.png);
    background-position: bottom left;
    background-repeat: no-repeat;
}

.hero-section .left .counter{
    display: flex;
    gap: 10px;
    font-size: 42px;
    font-weight: 700;
    line-height: 132%; 
}

.hero-section .left .counter span{
    font-size: 15px;
    font-weight: 400;
    line-height: 40px;
}

.companylogo{
    position: absolute;
    left: 40px;
    top: 20px;
}

.hero-section .left .left-body{
    display: flex;
    flex-direction: column;
    align-items: end;
    flex:1;
}

.hero-section .left .content-wrap{
    padding-right: 50px;
    flex: 1;
}


.hero-section .right{
    flex: 1;
}

.left h1{
    color: rgba(29, 32, 40, 1);
    font-family: Exo 2;
    font-size: 52px;
    font-weight: 700;
    letter-spacing: -2%;
    text-align: left;
    margin-bottom: 150px;

}


.left p{
    width:260px;
    color: rgba(29, 32, 40, 1);
    font-family: Prompt;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 95px;
    line-height:1;
}







.bg-shape{
    z-index:-1;
    position: absolute;
    width: 100%;
    bottom:0;
    left:0;
    height:75%;
    
}



.arrow {
  cursor: pointer;
  z-index: 10;
}

.arrows-area{
    display: flex;
    gap: 10px;
    padding-left:400px;
    top: -50px;
    position:relative;
    

}

.swiper-slide .counter {
    position: relative;
    top: -90px; 
}




@media (max-width: 992px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
        gap: 20px; 
        }
    .hero-section .left, .hero-section .right {
        flex: 1 1 100%;
        }

    .left {
        align-items: center; 
        }
    .left h1, .left p, .cta-btn.dark {
        text-align: center;
        margin: 10px 0; 
        }
    .hero-section .right img {
        width: 80%;      
        height: auto;
        margin: 0 auto;
        }
}